.backButton {
    text-decoration: none;
    color: #3177af;
    background-color: white;
    padding: 1%;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 8px;
    left: 8px;

    transition:  all .3s ease;
}

.backButton:hover {
    color: white;
    background-color: #3177af;
}