.menuButton {
    width: 100%;
    margin: 5% 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 25, 25);
    color: rgb(49, 119, 175);
    font-size: 1.2rem;
    border-radius: 5vh;
    padding: 5% 10%;
    transition: all .3s ease;
    text-align: center;
    text-decoration: none;
}

.menuButton img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.menuButton:hover{
    transform: scale(1.1);
    background-color: #464646;
    cursor: pointer;
}

.probabilitesPage input{
    border-radius: 5px;
    border: none;
    padding: 2% 1%;
    outline: none;
    font-size: 1rem;
}