.menuButton {
    width: 100%;
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(26, 25, 25);
    color: rgb(49, 119, 175);
    font-size: 1rem;
    border-radius: 5vh;
    padding: 5%;
    transition: all .3s ease;
    text-align: center;
}

.menuButton img {
    max-width: 60px;
    height: auto;
}

.menuButton:hover{
    transform: scale(1.1);
    background-color: #464646;
    cursor: pointer;
}