.probabilitiesPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #272424;
    min-height: 100vh;
    overflow-y: var(--overflowValue);
    color: white;
}

.eventRow{
    display: flex;
    gap: 6px;
    margin-bottom: 5px;
}

.eventName{
    width: 125px;
    padding: 0.5% 1%;
    font-size: 0.9rem;
}

.eventValue{
    display: flex;
    align-items: center;
    gap: 6px;
}

.eventValue input {
    width: 50px;
}

button {
    font-size: 0.8rem;
    font-weight: 600;
    background-color: #1a1919;
    color: #3177af;
    border-radius: 3vh;
    border: none;
    padding: 1.5%;
    cursor: pointer;
    transition: all .3s ease;
}

.probButtonContainer{
    display: flex;
    margin-top: 10px;
    gap: 6px;
}

.delButton{
    font-size: 0.8rem;
    min-width: 20px;
    font-weight: 600;
    background-color: #1a1919;
    color: red;
    border-radius: 3vh;
    border: none;
    padding: 1.5%;
    cursor: pointer;
    transition: all .3s ease;
}

input{
    border-radius: 5px;
    border: none;
    padding: 1% 1%;
    outline: none;
    font-size: 1rem;
}

.probInput{
padding: 0.5% 1%;
font-size: 0.9rem;
}

.outcomesInput{
    margin-top: 10px;
}

select {
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 0.5% 1%;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

input:focus {
    box-shadow: 0 0 0 2px #3177af55;
}

select:focus {
    outline: none;
    box-shadow: 0 0 0 2px #3177af55;
}

.eventButtonContainer{
    display: flex;
    gap: 6px;
    justify-content: center;
    width: 100%;
}

.eventButtonContainer button {
    padding: 2% 2%;
}